{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div id="perfil">
    <div id="perfil-izq">
        <section>
            <img id="imagen-perfil" src="{% static 'images/imagenpersonal.jpg' %}" alt="Imagen de perfil">
        </section>
        <section>
            <h3>Aitor López</h3>
            <p class="presentacion">
                Graduado en Industria Digital y en Automatización y Robótica Industrial.
            </p>
            <p class="presentacion">
                Una curiosidad innata y un gran interés en la Tegnología me llevaron desde muy joven a apasionarme
                por los estudios que permiten satisfacer las necesidades humanas liberando al trabajador de
                tareas tediosas y/o peligrosas.
            </p>
            <p class="presentacion">
                El Grado Superior en Automatización y Robótica Industrial me aportó competencias de la parte industrial
                y el Grado en Industria Digital los cocimientos de la parte informática para trabajar en Industria 4.0.
            </p>
        </section>
    </div>
    <div id="perfil-der">
        <section class="secciones seccion-comp-intereses">
            <h3 class="titulo-comp-intereses">Competencias Digitales</h3>
            <img class="icon-comp-intereses" src="{% static 'images/competenciasDigitales.png' %}" alt="Competencias Digitales">
        </section>
        <section class="section-final secciones seccion-comp-intereses">
            <h3 class="titulo-comp-intereses">Intereses</h3>
            <img class="icon-comp-intereses" src="{% static 'images/intereses.png' %}" alt="Intereses">
        </section>
    </div>

</div>
{% endblock %}